@media screen and (max-width:768px) {

    .container {
        width: 100%;
    }

    html {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:480px) {
    .container {
        width: 100%;
    }

    html {
        font-size: 1.2rem;
    }

    .row {
        display: block;
    }

    .lessons .col {
        width: 100%;
    }

    .lessons .card {
        margin: 5rem 0;
    }

    .steps {
        margin: 0;
        margin-bottom: -4rem;
        padding: 2rem 0;
    }

    .steps .col {
        width: 100%;
    }

    .steps .card {
        margin: 5rem 0;
    }

    .why-us {
        background-color: rgb(34 34 34);
        padding-top: 3rem;
    }

    .why-us .container {
        margin-bottom: -3rem;
        padding-bottom: 2rem;
    }

    .why-us .col-left {
        width: 100%;
        padding-bottom: 3rem;
    }

    .why-us .col-right {
        width: 100%;
    }
}